# Analyse tha thinks

In [20]:
import pandas as pd
import json
import glob

In [21]:
path_in = '../data_cleaned/article/'

## Load files

In [22]:
filelist = glob.glob("%s*.json" % path_in)
records = []
for f in filelist:
    with open(f, encoding='utf-8') as json_file:
        records.append(json.load(json_file))

In [23]:
df = pd.DataFrame(records)

In [24]:
df.groupby('author').count().sort_values('id', ascending=False)

                           id  tag  title  text  date
author
kna                       682  682    682   682   682
cic                       416  416    416   416   416
Raphael Rauch             263  263    263   263   263
sda                       140  140    140   140   140
Georges Scherrer          103  103    103   103   103
...                       ...  ...    ...   ...   ...
Jacques Berset/cath.ch      1    1      1     1     1
Jacques Berset, cath.ch     1    1      1     1     1
Jacques Berset / cath.ch    1    1      1     1     1
Jacques Berset              1    1      1     1     1
von Timo Rager*             1    1      1     1     1

[377 rows x 5 columns]

In [25]:
df['date'].min()

'2019-09-05 17:23'